{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="product-by-category">
    <div class="products-page-title">
        <h1>{{category.title}}</h1>
    </div>
    <div id="product-wrapper">
        {% for product in products %}
        <div class="product-card" data-aos="fade-right" data-aos-offset="300" data-aos-duration="1000">
            <div class="product-card-img">
                <img src="{{product.image.url}}">
            </div>
            <div class="product-card-info">
                <p class="product-name">{{product.name}}</p>
                <hr>
                <button data-product="{{product.id}}" data-action="add" class="product-info-btn add-to-cart">Add to
                    cart</button>
                <button class="product-info-btn view-btn"><a
                        href="{% url 'product_detail' product.id %}">View</a></button>
                <p class="price">&#x20b9;{{product.price}}</p>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endblock %}
</div>